/* PHASE 12: Modal */
.modal-screen {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.85);
}

.modal-form{
  position: absolute;
  margin: 0 auto;
}

.modal{
  display: none;
}

